<div id="secret_form">
	<input type="text" class="text password" placeholder="enter the password to view the message" id="decrypt_password">
	<input type="button" id="decrypt_button" value="View Secret">
	<textarea id="decrypted_secret" rows="20" cols="80" readonly="readonly"></textarea>
</div>
<input type="hidden" id="encrypted_secret" value="<%= @encrypted_secret %>">
